<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New User</li>
    </ol>
</nav>
{{#if alert}}
<div class="alert alert-{{alertcolor}} alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="container-fluid d-flex">
    <div class="row w-sm-100 w-md-75 w-lg-75 d-flex justify-content-center mx-auto border rounded-2">
        <form action="/admin/adduser" class="mt-2 needs-validation" method="POST" novalidate>
            {{> userform}}
        </form>
    </div>
</div>