<div class="row">
  <div class="col-2 bg-white card vh-100 text-white fw-semibold" style="backgroundcolor:white">
    <ul class="list-group text-black fw-semibold">
        <li class="list-group-item list-group-item-action rounded px-2 py-2 list-active my-1"><i class="bi bi-1-circle me-3"></i>Dashboard</li>
        <li class="list-group-item list-group-item-action rounded border-0 px-2 py-2  my-1"><i class="bi bi-1-circle me-3"></i>Candidate</li>
        <li class="list-group-item list-group-item-action rounded border-0 px-2 py-2 my-1"><i class="bi bi-1-circle me-3"></i>Skills</li>
        <li class="list-group-item list-group-item-action rounded border-0 px-2 py-2 my-1"><i class="bi bi-1-circle me-3"></i>Timeline</li>
        <li class="list-group-item list-group-item-action rounded border-0 px-2 py-2 my-1 "><i class="bi bi-1-circle me-3"></i>Calander</li>
        
      </ul>
  </div>
  
  <div class="col-6">
    <div class="card h-50 p-3">
      Todays Session
        <ul class="list-group  fw-semibold">
          <li class="list-group-item rounded-2">
            <span class="row">
              <div class="col-6"><img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar me-2" alt=""> Anjima Gopal</div>
              <div class="col-3 text-center align-items-center d-flex"><button class="btn btn-sm btn-primary">Check Out</button></div>
              <div class="col-3 text-center align-items-right d-flex"><button class="btn btn-sm btn-primary">Evaluate</button></div>
            </span>
          </li>
          <li class="list-group-item rounded-2">
            <span class="row">
              <div class="col-6"><img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar me-2" alt=""> Anjima Gopal</div>
              <div class="col-3 text-center align-items-center d-flex"><button class="btn btn-sm btn-primary">Check Out</button></div>
              <div class="col-3 text-center align-items-right d-flex"><button class="btn btn-sm btn-primary">Evaluate</button></div>
            </span>
          </li>
          <li class="list-group-item rounded-2">
            <span class="row">
              <div class="col-6"><img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar me-2" alt=""> Anjima Gopal</div>
              <div class="col-3 text-center align-items-center d-flex"><button class="btn btn-sm btn-primary">Check Out</button></div>
              <div class="col-3 text-center align-items-right d-flex"><button class="btn btn-sm btn-primary">Evaluate</button></div>
            </span>
          </li>
          <li class="list-group-item rounded-2">
            <span class="row">
              <div class="col-6"><img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar me-2" alt=""> Anjima Gopal</div>
              <div class="col-3 text-center align-items-center d-flex"><button class="btn btn-sm btn-primary">Check Out</button></div>
              <div class="col-3 text-center align-items-right d-flex"><button class="btn btn-sm btn-primary">Evaluate</button></div>
            </span>
          </li>
        </ul>
    </div>
    <div>
      Upcoming Session
    </div>
  </div>
  <div class="col-4">
    <div>
      Calander
    </div>
    <div>
      Session
    </div>
  </div>
</div>