<div class="col-12 mb-4 order-lg-3 order-2 h-50">
    <div class="card h-min-50">
        <div class="d-flex align-items-end row">
            <div class="col-sm-12">
                <div class="card-body">
                    <h5 class="card-title text-primary">Calendar</h5>
                        <div class="row">
                  <div class=" col-lg-12 order-1 mb-4">
                    <div class="card h-100">
                      <div class="card-header px-2">
                        <div class="calendar" id="tablee">
                          <div class="header">
                            <!-- Aqui é onde ficará o h1 com o mês e o ano -->
                            <div class="month" id="month-header">
                        
                            </div>
                            <div class="buttons">
                              <button class="icon" onclick="prevMonth()" title="Mês anterior"><i class="fas fa-chevron-left"></i></button>
                              <button class="icon" onclick="nextMonth()" title="Próximo mês"><i class="fas fa-chevron-right "></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>